# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.env

# Ignorar builds e arquivos grandes
build/
dist/
file/
*.pkg
*.pyz

# Editor
.vscode/
.idea/

# Sistema
.DS_Store
Thumbs.db
desktop.ini

# Outros
*.log
*.zip
*.xlsb
*.xlsx
*.spec
*.txt